@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box-sizing:          border-box;
}

body {
  margin-top: 50px !important;
}

.pageprincipale{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 90vh;
  background-color: #eee;
}

table {
    width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
}
/*tr:nth-child(even) {background-color: #f2f2f2;}
*/
.barre_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formulaire-mail{
  margin: 20px 0;
}

.mailreader{
  display: flex;
  border: 2px solid grey;
}
.visualisateur, .mailscrapper {
  width: 50%;
}
.visualisateur {
  border-left: grey 1px solid;
}


.bouton-newmail {
  float: right;
}

.mail-object{
  font-weight: bold;
  font-size: 18px;
}

#email-display{
  border-top: 1px grey solid;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
