<p class="mail-object">Objet : <%= @email.object %></p>
<p class="mail-corps"><%= @email.body %></p>

<hr>
<%= link_to 'effacer', @email, method: :delete,
        data: {confirm: "Etes vous sûr?"},
        :remote => true,
        :class => 'delete_email' %>
